RewriteEngine On
# use for authentication
RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

Header set Access-Control-Allow-Origin *

#################################### ALL FOR DEVELOPER #################################

### SETTING ROLES ###
RewriteRule ^portfolio$ controllers/portfolio/portfolio.php [L]
RewriteRule ^portfolio/([0-9]+)$ controllers/portfolio/portfolio.php?portfolioid=$1 [L]
RewriteRule ^portfolio/active/([0-9]+)$ controllers/portfolio/active.php?portfolioid=$1 [L]
RewriteRule ^portfolio/search$ controllers/portfolio/search.php [L]

### SETTING ROLES ###
RewriteRule ^aboutme$ controllers/aboutme/aboutme.php [L]
RewriteRule ^aboutme/([0-9]+)$ controllers/aboutme/aboutme.php?aboutmeid=$1 [L]
RewriteRule ^aboutme/active/([0-9]+)$ controllers/aboutme/active.php?aboutmeid=$1 [L]
RewriteRule ^aboutme/search$ controllers/aboutme/search.php [L]

### SETTING ROLES ###
RewriteRule ^projects$ controllers/projects/projects.php [L]
RewriteRule ^projects/([0-9]+)$ controllers/projects/projects.php?projectsid=$1 [L]
RewriteRule ^projects/active/([0-9]+)$ controllers/projects/active.php?projectsid=$1 [L]
RewriteRule ^projects/search$ controllers/projects/search.php [L]