@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto-bold';
  src: url(/fonts/roboto-bold.woff) format("woff"), 
       url(/fonts/roboto-bold.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: 'Roboto-regular';
  src: url(/fonts/roboto-regular.woff) format("woff"), 
       url(/fonts/roboto-regular.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: 'Roboto-medium';
  src: url(/fonts/roboto-medium.woff) format("woff"), 
       url(/fonts/roboto-medium.woff2) format("woff2");
  font-display: swap;
}


@layer base{
  body{
    @apply bg-accent leading-7 font-regular 
  }

  a{
    @apply text-white
  }

  ul{
    @apply list-none text-white
  }

  img{
    @apply block w-full h-auto  
  }

  h1,h2,h3,h4,h5,h6{
    @apply font-thicker 
  }
  h1{
    @apply text-3xl mb-4
  }
  h2{
    @apply text-xl mb-4
  }
  h3{
    @apply text-lg mb-2
  }
  h4{
    @apply text-base mb-4
  }
  p{
    @apply mb-2 !leading-6 
  }
}


@layer components{
  .btn{
    @apply inline-block p-1 bg-transparent text-white border border-transparent rounded-full items-center cursor-pointer
  }
  .btn-header{
    @apply bg-buttons text-center w-[140px] h-[40px]
  }
  .btn-header:hover{
    @apply border-[1px] border-btncircle bg-transparent
  }

  .btn-home{
    @apply bg-buttons text-center w-[210px] h-[50px] font-thick relative 
    flex justify-center items-center decoration-0 pl-[40px] cursor-pointer transition-all duration-[.50s]
  }
  .btn-home:hover{
    @apply pl-0 pr-[40px]
  }
  .iconround{
    @apply absolute left-[5px] w-[42px] h-[42px] transition-all duration-[.50s] flex justify-center items-center 
  }
  .btn-home:hover .iconround{
    @apply left-[calc(104%-55px)]
  }


  .card {
   @apply h-[500px] w-[350px] relative
    transition-all duration-[0.4s] 
    rounded-[16px]
    overflow-hidden 
  }
  
   /*Image*/
  .card-image {
    @apply h-[100%]
    w-[100%]
    absolute
    transition-all duration-[1s]
  }
  
  /*Description */
  .card-description {
    @apply flex
    absolute
    gap-[.5rem]
    flex-col
    bg-lightcolor
    h-[100%]
    bottom-0
    rounded-[16px]
    transition-all duration-[1s] 
    
  }

  .card-description img{
    @apply w-[100%] h-[100%] object-cover scale-[1] transition-all ease-in-out duration-[1s]
  }
  .card:hover .card-description img{
    @apply  w-[350px] h-[300px] object-cover scale-[1] transition-all ease-in-out duration-[1s]
  }
  
  /* Hover states */
  .card:hover .card-description {
    @apply transform translate-y-[48%] 
  }
  

  .inputGroup {
    @apply mt-[1rem]
    relative
  }
  
  .inputGroup input {
    @apply
    p-[0.6rem]
    outline-none
    border-[2px]
    border-accent
    bg-transparent
    rounded-[20px]
    w-[100%]
    text-lightcolor
  }

  .inputGroup textarea {
    @apply
    p-[0.6rem]
    outline-none
    border-[2px]
    border-accent
    bg-transparent
    rounded-[20px]
    w-[100%]
    text-lightcolor
  }
  
  .inputGroup label {
    @apply
    absolute
    top-0 left-5
    pointer-events-none
    transition-all duration-[0.3s] 
    text-lightcolor
    
  }
  
  .inputGroup input:focus + label, .inputGroup input:valid + label, .inputGroup textarea:valid + label {
    @apply transform -translate-y-[50%] scale-[0.8]
    bg-primary
    text-lightcolor 
  }
  
  .inputGroup input:focus, .inputGroup input:valid {
    @apply border-accent
  }
  
}


.nav-link{
  @apply p-2 bg-lightcolor rounded-full hover:bg-primary
}

